<style>
    .footer{
        display: flex;
        background-color:rgb(92, 79, 79);
        justify-content:space-around;
        flex-wrap: wrap;
       
    }
    .footer-logo img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        margin-right: 6px;

    }
    .footer-brand{
        
       padding: 15px;
        flex: 1;
        text-align: center;
    }
    .footer-brand p{
       align-items: center;
    }
    .footer-explore{
        
        align-items: center;
        flex: 1;
    }
    h2{
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 200;
    }
    .footer-logo a{
        display: flex;
        align-items: center;
        margin: 5px;
       
    }
    a{
        color: white;
        font-weight: 600;
        font-size: 18px;
    }
    .footer-contact{
        min-width: 260px;
        align-items: center;
    }
  i{
     color: white;
  }
  
</style>
<body>
    <div class="footer">
      <div  class="footer-brand">
          <div class="footer-logo">
              <a href="/products">
                <img src="../images/logo.jpg"/>
                <h2 style="text-align:center;"> ShadiBazar</h2></a>
              
          </div>
          <p style="font-weight: 700; font-size: 19px;; text-align: justify;">  Our top priorities are excellent customer service, exceptionally quick order processing, ultra fast shipping times, and a hassle-free return policy. We value your feedback, whether positive or constructive
            and we are continuously working to improve your experience.</p>
      </div> 
      <div style="flex: 1; text-align: center;" class="footer-explore">
          <h2>Explore</h2>
          <ul><a href="/products">Home</a></ul>
          <ul><a href="#">About us</a></ul>
          <ul><a href="/products">Products</a></ul>
          <ul><a href="#">Testomonials</a></ul>
          <ul><a href="#contact">Contact</a></ul>
      </div>
      <div style=" min-width: 260px; padding: 15px;" class="footer-contact">
       <h2>Contact us</h2>
       <ul><i class="fas fa-phone-alt"></i> <a href="tel:7236095538"> 7236095538</a></ul>
       <ul><i class="far fa-envelope"></i>
        <a href="mailto:https://mail.google.com/mail/u/0/#inbox">
           shivam97200018@gmail.com</a></ul>
           <ul>
            <i class="fas fa-location-arrow"></i> <a href="https://www.google.co.in/maps/place/Shukla+Bhavan+Rajesh+Shukla/@25.3755098,82.3721905,180m/data=!3m1!1e3!4m5!3m4!1s0x398ffd3d180c04a3:0x2c90a72dda8c7c33!8m2!3d25.3755099!4d82.3725771" target="blank">
            Saripur,Beerampur,Gyanpur,Bhadohi(221308)</a></ul>
      </div>
    </div>
</body>