<%- include( 'partials/header.ejs' ) %>
    <link rel="stylesheet" href="/styles/nav.css" />
    <script src="/javascript/nav.js"></script>
    
    <link rel="stylesheet"  href="/styles/cart.css"/>
    
    <h2 style="text-align: center; margin-top: 100px; " >Your Cart</h2>

    <div class="msgBox">

    </div>
    <div class="cartItemContainer">
        <div class="col2">
            <div class="cartitem">
            </div>
        </div>
        <div class="col1">
            <div class="action">


            </div>


        </div>
    </div>
    

    <script src="/javascript/cart.js"></script>
    <%- include( 'partials/footer.ejs' ) %>