    <% -include( 'partials/header.ejs')  %>
     <style>
       
    
.blankCart button{
    position: absolute;
    top: 42%;
   
    left: 50%;
    transform: translate(-50%,-50%);
     align-items: center;
     justify-content: center; 
    background-color: palevioletred;
    border-radius: 8px;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    border: 1px solid palevioletred;
    padding: 8px;
}
.blankCart h2{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
     align-items: center;
     justify-content: center; 

    font-size: 30px;
}

     </style>
       <div class="blankCart">
        <h2> Welcome to my project :)</h2>
        <a href="/products"><button>Product Page </button></a>
      </div>

    <% -include( 'partials/footer.ejs')  %>