<%- include( 'partials/header.ejs' ) %>
    <link rel="stylesheet" href="/styles/nav.css" />
    <script src="/javascript/nav.js"></script>
    
    <link rel="stylesheet"  href="/styles/order.css"/>

    <div class="msgBox">

    </div>
    <div class="cartItemContainer">
        <div class="col2">
            <div class="ShippingAdd">

            </div>
            <div style="font-size: 18px;" class="orderHolder">
              <h3>Order Items</h3>
            </div>
        </div> 
        <div class="col1">
            <div style="font-size: 18px;" class="action"></div>
        </div>
    </div>
    

    <script src="/javascript/orders.js"></script>
   