<%- include('partials/header.ejs') %>
    <link rel="stylesheet" href="/styles/nav.css" />
    <script src="/javascript/nav.js"></script>
    <style>
      .com{
        display: flex;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
        align-items: center;
        justify-content: center;

      }
    </style>

      <div class="com">
        <h1 >Coming Soon</h1>
      </div>


    <%- include('partials/footer.ejs') %>