<%- include( 'partials/header.ejs' ) %>
    <link rel="stylesheet" href="/styles/nav.css" />
    <script src="/javascript/nav.js"></script>
    
    <link rel="stylesheet"  href="/styles/wishList.css"/>
    
   <u> <h1 style="text-align: center; margin-top: 65px; font-size: 36px; font-family: 'Courier New', Courier, monospace; " >Your Wishlist</h1></u>
   </u>
    <div class="msgBox">

    </div>
    <div class="wishListContainer">
        <div class="col2">
           
        </div> 
        <div class="col1">
            <div class="action"></div>
        </div>
    </div>
    

    <script src="/javascript/wishList.js"></script>
   