body{
    background-color:rgb(219, 207, 207);
}
.formContainer form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 80%;
    background-color: white;
    padding: 10px 20px ;
    /* border-left:3px solid rgb(206, 119, 119);
    border-top: 3px solid green;
    border-right: 3px solid brown;
    border-bottom: 3px solid yellow; */
    /* box-shadow: 3px 3px 3px 3px rgb(231, 159, 159); */
    border: 2px solid red;
    margin-top: 100px;
    border-radius: 5px;
   
}
.formContainer{
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
}
form input{
    padding: 8px;
    margin: 8px 0;
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
    /* border-left:1px solid rgb(206, 119, 119);
    border-top: 1px solid green;
    border-right: 1px solid brown;
    border-bottom: 1px solid yellow; */
    border: 1px solid red;
    border-radius: 5px;
}
form button{
    padding: 8px;
    margin: 8px 0;
    box-shadow: 2px 2px 2px rgb(240, 13, 13);
    border-radius: 5px;
    border: 1px solid red;
    color:white;
    background-color:red;
}
.socialmediaicon{
    display: flex;
    justify-content: center;
    padding: 5px;
    
}
i{
    margin: 10px;
    font-size: 30px;
    border-radius: 50%;
    background-color:white;
    color: cadetblue;
}
i:hover{
    color: rgb(39, 146, 233);
    color: blue;

    
}
