a{
    text-decoration: none;
}
body{
    background-color:white;
    padding: 0;
    margin: 0;
}
.nav{
    background-color: red;
    display: flex;
    justify-content:space-between;
    padding: 0px 15px;
    box-shadow: 3px 3px 3px rgb(241, 111, 111);
    
    /*position fix  */
    position: fixed;
    width: 100%;
    top: 0;
    
}
.brand{
    display: flex;
    align-items: center;
}
.menu-items{
    display: flex;
    align-items: center;
    margin-right: 20px;
   
   
}
.menu-items a{
 
    padding:0px 15px;
    color: white;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.brand h3{
    font-weight:500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.brand a img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.brand a h3{
    margin-left: 20px;
    color: white;
    
}
.Searchbox{
    display: flex;
    align-items: center;

}
.Searchbox form{
    padding: 5px; 
}
form input{
    padding: 5px 8px;
    border-radius: 5px;
    
}
form button{
    padding: 5px 8px;
    border-radius: 5px;
    background-color: red;
    color: white;
    
}
.banner{
    background-color: whitesmoke;
    border-radius:60%;
    padding: 10px;
    color:red;
    font-weight:bolder;
    padding: 5px;
    width: 50px;
    height: 50px; 
    }
/* @media(max-width:500px){
    .nav{
        flex-wrap: wrap;

    }
} */


/* dropdown styles */
/* Dropdown Button */
.dropbtn {
    
    padding: 16px;
    font-size: 16px;
    font-weight: bolder;
    border: none;
    margin-left: 10px;
    color: white;
    background-color: red;
    
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color:red;
      color: white;
    }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      display: block;
      
    }
  
  