

.card {
    width: 260px;
    padding: 0px 0px;
    background-color: white;
    margin: 16px;
    
}


.productContainer img {
    width: 260px;
    height: 325px;
    padding: 0;
}

.cardbody {
    padding: 0px;
    
}
a{
    color: blue ;
}

.row {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    margin-top: -23px;
}
.Pbutton{
    display: flex; 
     justify-content: space-around; 
     padding: 0; 
    width: 260px;
    margin-top: -26px;
}
.Pbutton button{
    display: inline-block; 
    width: 100%;
    border-radius: 0;
    height: 35px;
}

.card {
     background-color: white;
    /* border-left:3px solid rgb(206, 119, 119);
    border-top: 3px solid green;
    border-right: 3px solid brown;
    border-bottom: 3px solid yellow; */
    box-shadow: 1px 3px 3px 2px rgb(231, 159, 159);
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}