

.card {
    width: 260px;
    padding: 0px 10px;
    background-color: white;
    margin: 16px;
    border: 1px solid white;
}
.card:hover{
    margin-top: 3px;
}

.productContainer img {
    width: 260px;
    height: 325px;
}

.cardbody {
    padding: 10px;
    
}

.row {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}

.cardbody p {
    text-align: justify;
    margin-top: -10px;

}

.card {
     background-color: white;
    /* border-left:3px solid rgb(206, 119, 119);
    border-top: 3px solid green;
    border-right: 3px solid brown;
    border-bottom: 3px solid yellow; */
    box-shadow: 1px 3px 3px 2px rgb(231, 159, 159);
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}